

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.text-primary{
    color:#FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;

}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#757575;
}
.secondary-bg{
    background-color:#FFF8F3 ;
    /*margin: 0 auto;*/
    margin-bottom: 130px;
    
}
   

.dark-2{
    color: #474747;
}
    

.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
.banar-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banar-tittle{
    font-size: 85px;
    font-weight: bold;
}
.banar-description{
    font-size: 18px;
    color: #757575;
}
.banar-profile-pic{
    width: 580px;
}
.banar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banar-content{
    max-width: 580px;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.about{
    border-radius: 10px;
    padding: 110px 120px;
    text-align: center;

}
main{
    max-width: 1140px;
    margin: 0 auto;
    /*border-radius: 20px;*/
    /*padding: 100px 130px 100px 130px;
    margin-left: 130px;
    margin-right: 130px;*/
    margin-top: 130px;
    margin-bottom: 130px;

}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(255, 248, 243, 1);
    border-radius: 5px;
}
.resume-container{
    display: flex;
    gap: 24px;

}
.experience-description,.experience-sub-tittle{
    color: #757575;
}
.experience-sub-tittle{
    font-size: 20px;
    font-weight: 600px;
    margin: 0px;
    margin-bottom: 20px;
}
.resume-download-cv{
    margin-top: 50px;
}
/*.footer-column{
    display: flex;
    align-items: center;

}*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"] , footer input[type="email"] , footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    /*font-size: ;*/
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}